<h1 style="text-align: center;">Ludo Application</h1>

<table >

  <tr *ngFor="let num2 of numbers2">
    <td style="width: 2em" *ngFor="let num of numbers" [ngStyle]="{'border': ((num > 4 && num<7) || (num2  > 4 && num2<7)) && !( num>4 && num<7 && num2>4 && num2<7) ?   ' 1px solid black' : ''}" >
      <div *ngFor="let i of buttonArray"><button  id = "red1" [disabled]="red_token_status[i]" *ngIf="((num2==red_token[i][0] && num == red_token[i][1]))
         " ng-hide = "red_completed[0]"   (click) = "tokenPlay(red_token[i][2])"><fa-icon [icon]="faChessPawn" appToken></fa-icon></button></div>

        <div *ngFor="let i of buttonArray"><button id = "blue1" [disabled]="blue_token_status[i]"  *ngIf="((num2==blue_token[i][0] && num == blue_token[i][1]))"
        ng-hide = "blue_completed[0]"    (click) = "tokenPlay(blue_token[i][2])"><fa-icon [icon]="faChessPawn" appBlueToken></fa-icon></button></div>

        <div *ngFor="let i of buttonArray"><button id = "yellow1" [disabled]="yellow_token_status[i]" *ngIf="((num2==yellow_token[i][0] && num == yellow_token[i][1]))"
      ng-hide = "yellow_completed[0]" (click) = "tokenPlay(yellow_token[i][2])"><fa-icon [icon]="faChessPawn" appYellowToken></fa-icon></button></div>

      <div *ngFor="let i of buttonArray"><button id = "green1" [disabled]="green_token_status[i]" *ngIf="((num2==green_token[i][0] && num == green_token[i][1]))"
      ng-hide = "green_completed[0]"  (click) = "tokenPlay(green_token[i][2])"><fa-icon [icon]="faChessPawn" appGreenToken></fa-icon></button></div>

    </td>
  </tr>
</table>

<h4 style="margin-left: 46%;  margin-top: 1%;"> player {{player_turn[num]}} turn</h4>

<button [disabled] = "diceRoll" id = "diceButton" style=" float: left;;margin-left: 47%; width: 6%; margin-right: 2%; margin-top: 0%;" (click)="rollDice()" id = "dice">Roll A Dice</button>

<div style="margin-left: 5%;">
  <fa-icon style="font-size: 35px;" *ngIf = "dice_numbers == 6" [icon] = "faDice6"></fa-icon>
  <fa-icon style="font-size: 35px;" *ngIf = "dice_numbers == 5" [icon] = "faDice5"></fa-icon>
  <fa-icon style="font-size: 35px;" *ngIf = "dice_numbers == 4" [icon] = "faDice4"></fa-icon>
  <fa-icon style="font-size: 35px;" *ngIf = "dice_numbers == 3" [icon] = "faDice3"></fa-icon>
  <fa-icon style="font-size: 35px;" *ngIf = "dice_numbers == 2" [icon] = "faDice2"></fa-icon>
  <fa-icon style="font-size: 35px;" *ngIf = "dice_numbers == 1" [icon] = "faDice1"></fa-icon>
</div>
