/* You can add global styles to this file, and also import other style files */
table{
  height: 65vh;
  width:  65vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

td{
  width: 8.33%;
  height: 8.33%;
}

tr{
  width: 8.33%;
  height: 8.33%;

}

button{
  background-color: transparent;

}

button :disabled{
  background-color: transparent;
}
